/******************************Tag Selector************************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #40514E
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0;
}

h2 {
  color: #66BFBF;
  font-size: 2rem;
  margin-top: 0;
  font-weight: normal;
}

h3 {
  color: #11999E;
}

hr {
  margin: 100px auto;
  width: 5%;
  border-style: none;
  border-top: 0.5rem dotted;
  border-top-color: #EAF6F6
}

a {
  color: #11999E;
  padding: 0 3px;
}

a:hover {
  color: #EAF6F6;
}

/******************************Class Selector************************/
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  margin-bottom: 50px;
}

.bottom-container {
  margin-top: 50px;
  padding: 30px 0;
  background-color: #66BFBF;
  margin-bottom: 0;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.btn ::before {
  content: "📧 ";
}

.footer-link {
  font-family: 'Oswald', sans-serif;
}

.skill-row {
  width: 50%;
  margin: 50px auto;
  line-height: 2;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.85rem;
  padding: 20px 0 0;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
